<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include "head.html"%}
  </head>
  <body>
    {% include "color-picker.html"%}
    <div class="container projets-container" id="normal-page-container">
      <header>
        <button
          class="mobile-nav-toggle"
          aria-controls="primary-navigation"
          aria-expanded="false"
        >
          <span class="sr-only">Menu</span>
        </button>
        <nav
          class="navigation-flexer"
          id="primary-navigation"
          data-visible="false"
        >
          <span class="navigation-announcer">NAVIGATION</span>
          <ul class="menu">
            <li>
              <a href="../index">HOME</a>
              <!-- <a id="home" href="../index.html" aria-label="Home page"
                ><i class="ph-bold ph-house-simple"></i
              ></a> -->
            </li>
            <li><a href="/curriculum">CV</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/projets">PROJETS</a></li>
            <li><a href="../colophon">COLOPHON</a></li>
          </ul>
        </nav>
      </header>
      <main id="projets">
        <h1>Projets</h1>
        <div id="project-card-container">
          <div id="project-card">
            <div id="project-img-wrapper">
              <img
                src="../img/bookshelf.png"
                alt="capture of the hompage of the bookshelf organizer website"
              />
            </div>
            <div class="project-descripter">
              <h2 id="project-card-title">
                <a href="projetbookshelf">"The Bookshelf", une bibliothèque de réservation de livres</a>
              </h2>
              <p>Construction du backend et du frontend.</p>
          </div>
          </div>
          <div id="project-card">
            <div id="project-img-wrapper">
              <img
                src="../img/newsletter.png"
                alt="capture of the hompage of the newsletter subscription website"
              />
            </div>
            <div class="project-descripter">
              <h2 id="project-card-title">
                <a href="projetnewsletter">"Feuillu", une newsletter explorant le web-design</a>
              </h2>
              <p>Construction du frontend et du backend d'un site d'inscription et d'envoi de newsletter.</p>
            </div>
          </div>
        </div>
      </main>
      <footer id="footer" role="contentinfo">{% include "footer.html"%}</footer>
    </div>
    <script src="../script.js"></script>
    <script src="../nav.js"></script>
  </body>
</html>
