---
title: Les posts du blog de Téotime Pacreau classés par tag
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include "head.html"%}
  </head>
  <body>
     <div class="wrapper">
      {% include "color-picker.html"%}
        <nav>
            <ul class="menu">
                <li><a id='home'href="../../index.html" aria-label="Home page"><i class="ph-bold ph-house-simple"></i></a></li>
                <li><a href="../../curriculum">01 Curriculum Vitae</a></li>
                <li><a href="../../blog">02 Blog</a></li>
                <li><a href="../../colophon">03 Colophon</a></li>
        </ul>
    </nav>
        <main class="blog">
{{ content | safe }}
        </main>
        <footer id="footer" role="contentinfo">
          {% include "footer.html"%}
        </footer>
    </div>
    <script src="../../script.js"></script>
</body>
</html>