---
pageId: "blogpost"
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include "head.html"%}
  </head>
  <body>
    {% include "color-picker.html"%}
    <div class="wrapper-post">
      <div class="post-grid">
        <header id="post-header">
          {% include "mobilenav.html"%}
          {% include "navigation.njk" %}
        </header>
        <aside>{{ content | toc | safe }}</aside>
        <main class="post-main">
          <article id="post">
            <header>
              <h1>{{ title }}</h1>
              <ul class="post-tags">
                {% for tag in tags %}
                <li>
                  <a href="/tags/{{ tag | slugify }}">{{tag}}</a>
                </li>
                {% endfor %}
              </ul>
              <span class="post-date">
                Publié le
                <time datetime="{{ date }}">
                  {{ date | date('dd LLLL yyyy') }}
                </time>
              </span>
              <p>{{ description }}</p>
            </header>
            {{ content | safe }}
          </article>
        </main>
        <footer id="footer">
          {% include "footer.html"%}
        </footer>
        <!--Script pour ouvrir tous les liens markdown dans une nouvelle fenêtre-->
        <script>
          (function () {
            const links = document.querySelectorAll(
              "a[href^='https://'], a[href^='http://']"
            );
            const host = window.location.hostname;

            const isInternalLink = (link) => new URL(link).hostname === host;

            links.forEach((link) => {
              if (isInternalLink(link)) return;

              link.setAttribute("target", "_blank");
              link.setAttribute("rel", "noopener");
            });
          })();
        </script>
      </div>
    </div>
    {% include "loadscripts.html"%}
    <script defer src="/scripts/table.js"></script>
  </body>
</html>
