<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include "head.html"%}
  </head>
  <body>
    {% include "color-picker.html"%}
    <div class="wrapper-post">
      <div class="post-grid">
        <header id="post-header">
          {% include "mobilenav.html"%}
          <nav
            class="navigation-flexer navigation-flexer-post"
            id="primary-navigation"
            aria-label="Principale"
          >
            <span id="navigation-announcer">NAVIGATION</span>
            <ul class="menu" id="post-menu">
              <li>
                <a tabindex="0" href="/index">HOME</a>
              </li>
              <li><a tabindex="0" href="/curriculum">CV</a></li>
              <li><a tabindex="0" href="/blog">BLOG</a></li>
              <li><a tabindex="0" href="/projets">PROJETS</a></li>
              <li><a tabindex="0" href="/colophon">COLOPHON</a></li>
            </ul>
          </nav>
        </header>
        <aside>{{ content | toc | safe }}</aside>
        <main class="post-main">
          <article id="article-post">
            <header>
            <h1>{{ title }}</h1>
            <ul class="post-tags">
              {% for tag in tags %}
              <li>
                <a class="tags-style" id="post-tags" href="/tags/{{ tag | slugify }}"
                  >{{tag}}</a
                >
              </li>
              {% endfor %}
            </ul>
            <time class="post-date">
              Publié le :
              <time datetime="{{ date }}"
                >{{ date | date('dd LLLL yyyy') }}</time
              >
            </time>
            <p>{{ description }}</p>
          </header>
            {{ content | safe }}
          </article>
        </main>
        <footer id="footer" role="contentinfo">
          {% include "footer.html"%}
        </footer>
        <!--Script pour ouvrir tous les liens markdown dans une nouvelle fenêtre-->
        <script>
          (function () {
            const links = document.querySelectorAll(
              "a[href^='https://'], a[href^='http://']"
            );
            const host = window.location.hostname;

            const isInternalLink = (link) => new URL(link).hostname === host;

            links.forEach((link) => {
              if (isInternalLink(link)) return;

              link.setAttribute("target", "_blank");
              link.setAttribute("rel", "noopener");
            });
          })();
        </script>
      </div>
    </div>
    {% include "loadscripts.html"%}
    <script defer src="/scripts/table.js"></script>  
  </body>
</html>
