<button
  class="mobile-nav-toggle"
  type="button"
  aria-label="ouvrir la navigation principale"
  popovertarget="mobile-navigation"
  popovertargetaction="show"
  aria-haspopup="true"
  aria-controls="mobile-navigation"
>
  <svg
    aria-hidden="true"
    id="hamburger-icon"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    fill="#000000"
    viewBox="0 0 256 256"
  >
    <path
      d="M222,128a6,6,0,0,1-6,6H40a6,6,0,0,1,0-12H216A6,6,0,0,1,222,128ZM40,70H216a6,6,0,0,0,0-12H40a6,6,0,0,0,0,12ZM216,186H40a6,6,0,0,0,0,12H216a6,6,0,0,0,0-12Z"
    ></path>
  </svg>
</button>
<nav
  id="mobile-navigation"
  aria-label="Principale"
  popover
>
  <button id="hamburger-button-close" aria-label="fermer la navigation principale" aria-controls="mobile-navigation" popovertarget="mobile-navigation" popovertargetaction="hide" style="border: 0; background-color: unset;">
    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M165.66,101.66,139.31,128l26.35,26.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"></path></svg>
  </button>
  <ul class="menu">
    <li><a href="/index">HOME</a></li>
    <li><a href="/curriculum">CV</a></li>
    <li><a href="/blog">BLOG</a></li>
    <li><a href="/projets">PROJETS</a></li>
    <li><a href="/colophon">COLOPHON</a></li>
  </ul>
</nav>
