---
title: Les posts du blog de Téotime Pacreau classés par tag
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include "head.html"%}
  </head>
  <body>
    {% include "color-picker.html"%}
    <div class="container" id="normal-page-container">
      <header>
        {% include "mobilenav.html"%}
        {% include "navigation.html"%}
      </header>
      <main id="tags-page">{{ content | safe }}</main>
      <footer id="footer">{% include "footer.html"%}</footer>
    </div>
    {% include "loadscripts.html"%}
  </body>
</html>
