<style>
    .background {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #c3e2ff;
    }

    .card {
        padding: 48px 96px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    {# .card svg {
        width: 100px;
        height: 100px;
    } #}

    .title {
        color: #752a04;
        font-size: 72px;
        letter-spacing: -.12rem;
        line-height: 1.2;
    }
    #footer {
        margin-left: auto;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    #footer span {
       color: #752a04;
        font-weight: 300;
                font-size: 2rem;

    }
    #footer svg, #footer img {
        height: 5rem;
        width: 5rem;
    }
    time {
        font-size: 2rem;
        color: #752a04;
        font-weight: 300;
    }
</style>

<div class="background">
    <div class="card">
        <time>{{ date }}</time>
        <h1 class="title">{{ title }}</h1>
        <div id="footer">
            <img src="https://www.teotimepacreau.fr/img/profil_dithered3.png" ></img>
            <span>teotimepacreau.fr</span>
        </div>
    </div>
</div>