---
title: Le blog de Téotime Pacreau
layout: baseforblog.html
---

<!DOCTYPE html>
<h1>Blog</h1>
<section id="blog-article-list">
  {% for post in collections.posts | reverse %}
  <article>
    <header class="blog-card-tags">
      {% for tag in post.data.tags | filterTagList %} {% set tagUrl %}/tags/{{
      tag | slugify }}/{% endset %}
      <a tabindex="0" class="blog-card-tags-link" rel="tag" href="{{ tagUrl | url }}"
        >{{ tag }}</a
      >
      {% endfor %}
    </header>
    <div>
      <a tabindex="1" class="blog-card-title" href="{{post.url}}"
        >{{ post.data.title }}</a
      >
      <time class="tags-date">
        <time datetime="{{ post.data.date | date('dd LLLL yyyy') }}"
          >{{ post.data.date | date('dd LLLL yyyy') }}</time
        >
      </time>
    </div>
  </article>
  {% endfor %}
</section>
