article {
  counter-reset: sidenote-counter;
}

/*----citations en bloc-----*/
blockquote sup.sidenote-caller-counter {
  position: relative;
  display: inline-block;
  width: 1ch;
  height: 1ch;
  &::after {
    /* Compteur automatique */
    position: absolute;
    counter-increment: sidenote-counter;
    content: counter(sidenote-counter);
    left: .5ch;
    top: -.65ch;
    font-size: calc(0.75 * var(--step--2));
  }
}

span.sidenote {
  float: inline-end;
  margin-right: -80%;
  width: 60%;
  position: relative;
  &::before {
    /* Compteur automatique */
    content: counter(sidenote-counter);
    position: absolute;
    display: inline;
    top: -0.2rem;
    left: -2ex;
    font-size: calc(0.75 * var(--step--2));
  }
}

/* style de la citation */
.citation-calling-sidenote {
  display: block !important;
  margin-block: unset;
  margin-top: calc(0.5 * var(--rythme));
  padding: calc(0.25 * var(--rythme));
  background-color: var(--bglighten20);
  border-left: 2px solid var(--txt);
  text-indent: 1ex;
  & sup, sup::after{
    text-indent: 0;
  }
  & > p {
    display: inline;
    &::before {
      display: inline;
      content: open-quote;
      font-family: "Helvetica";
      font-weight: bold;
      vertical-align: baseline;
      line-height: 1.5;
    }
    &::after {
      display: inline;
      content: close-quote;
      font-family: "Helvetica";
      font-weight: bold;
      vertical-align: baseline;
      line-height: 1.5;
    }
  }
}


/*----citations dans le texte-----*/
span.conteneur-citation-dans-texte {
  & sup {
    display: inline-block;
    width: 1ch;
    height: 1ch;
    position: relative;
    &::after {
      /* Compteur automatique */
      position: absolute;
      counter-increment: sidenote-counter;
      content: counter(sidenote-counter);
      left: -.3ch;
      top: -.65ch;
      font-size: calc(0.75 * var(--step--2));
    }
  }
}


/* format mobile */
@media (width < 1000px) {
  span.sidenote {
    float: unset;
    display: block;
    margin-right: unset;
    width: unset;
    margin-top: var(--rythme);
  }
  span.conteneur-citation-dans-texte {
  & .sidenote {
    display: none;
    margin: 1rem 2.5%;
    font-size: var(--step--1);
    text-decoration: underline dotted;
  }
  & sup::after {
    cursor: pointer;
    text-decoration: underline solid var(--txt);
  }
}
}