/* --- Documentation de la conception des sidenotes

On distingue deux types de notes marginales :
1. Celles associées à un <blockquote>
2. Celles associées à une expression inline (dans un paragraphe)

Pour aligner la note marginale avec l’appel de note (le chiffre en exposant dans le texte),
on utilise un <span> qui sert de conteneur inline de contexte appelant.

Les éléments internes de la note marginale doivent rester de type inline (<span>)
et non block (<p>, <div>, etc.), car un élément de type bloc casserait le flux du texte
dans lequel se trouve l’appel de note. C’est pourquoi la note est entièrement construite
avec des <span>.

Le positionnement des notes marginales repose sur la propriété float :
la note est flottée à la fin de la ligne (float: inline-end) par rapport plus proche parent de type "bloc". Or, selon le type de note marginale, ce bloc parent diffère :
- pour une note dans un paragraphe, le float s’ancre sur le paragraphe ;
- pour une note associée à un blockquote, le float s’ancre sur le blockquote lui-même.

Ce comportement entraîne un léger décalage horizontal entre les notes marginales
des blockquotes et celles insérées dans le corps du texte.

--- */

article {
  counter-reset: sidenote-counter;
}

sup.sidenote-caller::after {
  /* Compteur automatique */
  counter-increment: sidenote-counter;
  content: counter(sidenote-counter);
  font-feature-settings: "sups" 1;
  font-variant-position: super;
}

small.sidenote {
  float: inline-end;
  margin-right: -80%;
  width: 60%;
  text-indent: 1ex;
  &::before {
    /* Compteur automatique */
    content: counter(sidenote-counter) " ";
    font-feature-settings: "sups" 1;
    font-variant-position: super;
  }
}

blockquote {
  box-sizing: content-box;
  padding: calc(0.25 * var(--rythme));
  background-color: var(--bglighten20);
  border-left: 2px solid var(--txt);
  text-indent: 1ex;
  & > p {
    display: inline;
    &::before{
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
}

@media (width < 1000px) {
  small.sidenote {
    display: none;
    float: unset;
    margin-right: unset;
    width: unset;
    margin-top: var(--rythme);
    margin: 1rem 2.5%;
    font-size: var(--step--1);
    text-decoration: underline dotted;
    & a {
    text-underline-offset: .05ex;
    text-decoration-thickness: .35ex;
    text-decoration-skip-ink: none;
    }
  }
  sup.sidenote-caller::after {
    cursor: pointer;
    text-decoration: underline solid var(--txt);
  }
}
