/*BLOCKQUOTE*/
.figure-blockquote {
    display: block!important;
    margin-block: unset;
    margin-top: calc(0.5 * var(--rythme));
    padding: calc(0.25 * var(--rythme));
    border-left: 2px solid var(--txt);
    background-color: var(--bglighten20);
  }
  
  .figcaption-blockquote-cite {
    font-variation-settings: unset!important;
    text-align: unset!important;
    max-inline-size: unset!important;
    text-wrap: unset!important;
    font-weight: 300;
    margin-top: calc(.5*var(--rythme))
  }
  
  .figure-blockquote blockquote:before {
    content: open-quote;
    font-family: "Helvetica";
    font-weight: bold;
    float: left;
    padding-inline-end: .5ex;
    vertical-align: baseline;
    line-height: 1.5;
  }
  .figure-blockquote > blockquote p{
    display: inline;
  }
  .figure-blockquote blockquote:after {
    display: inline;
    content: close-quote;
    font-family: "Helvetica";
    font-weight: bold;
    padding-inline-start: .5ex;
    vertical-align: baseline;
    line-height: 1.5;
  }