/*---VARIABLES---*/
:root {
  --rythme: clamp(1.5rem, 1.3695rem + 0.6522vw, 1.875rem);
  --step-3: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
  --step-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
  --step-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step--1: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
  --step--2: clamp(0.6944rem, 0.6577rem + 0.1836vw, 0.8rem);
  --border-radius: .3rem;
  --bg: oklch(35.5% 13.5% 174.846);
  --txt: #dfd6d6;
  --accent: oklch(91.64% 0.073 77.44);
  --shadow: oklch(10% 0 0 / 0.2);
  --code: oklch(97% 0.005 77.44 / 0.9);
  --btnHomepage: white;
}
@supports (color: rgb(from white r g b)) {
  :root {
    --bglighten20: oklch(from var(--bg) calc(l + 10) c h / 20%);
    --bglighten10: oklch(from var(--bg) calc(l + 10) c h / 10%);
    --txtlighten20: oklch(from var(--txt) l c h / 50%);
  }
}

@supports not (color: rgb(from white r g b)) {
  :root {
    --bglighten20: oklch(from var(--bg) calc(l + 10) c h / 20%);
    --bglighten10: oklch(from var(--bg) calc(l + 10) c h / 10%);
    --txtlighten20: var(--txt);
  }
}

/*---RESET---*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  background-color: var(--bg);
  color: var(--txt);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-family: "Inter-Variable", Helvetica, system, sans-serif;
}

/* Set shorter line heights on headings and text-wrap */
h1,
h2,
h3,
h4 {
  line-height: 1.15;
  letter-spacing: -0.04rem;
}

h1,
h2,
h3,
dt,
figcaption {
  text-wrap: balance;
  max-inline-size: 25ch;
}

p,
li {
  text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a {
  color: currentColor;
  text-underline-offset: 0.3ex;
}

button {
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
  width: auto;
  height: auto;
  border-radius: var(--border-radius);
}

/* More consistent, styleable hr*/
hr {
  border-width: 1px 0 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/*---FOCUS---*/
*:focus-visible {
  transition: outline 0.2s ease;
  outline: 4px solid;
  outline-offset: 0.3ex;
}

/* button:focus-visible {
  outline-offset: 0.8ex;
} */

/*---COLOR PICKER THEME SWITCH---*/
:root:has(#light:checked) {
  --bg: #c3e2ff;
  --txt: #1d533e;
  --accent: #752a04;
  --code: oklch(24% 0.03 42.02 / 0.6);
  --spanProjets: --txt;
  --btnHomepage: oklch(99% 0.02 30);
}

:root:has(#dark:checked) {
  --bg: oklch(35.5% 13.5% 174.846);
  --txt: #dfd6d6;
  --accent: oklch(91.64% 0.073 77.44);
  --shadow: oklch(10% 0 0 / 0.25);
  --code: oklch(97% 0.005 77.44 / 0.9);
  --spanProjets: var(--btnHomepage);
  --btnHomepage: oklch(30% 0.01 77);
}

.color-picker {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
label {
  color: var(--bg);
}
.color-picker input[type="radio"] {
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}
.color-picker input[type="radio"]:focus-visible {
  outline-width: 5px;
  outline-offset: 4px;
}
input {
  accent-color: var(--accent);
}
.color-picker > fieldset {
  width: clamp(80px, 50%, 180px);
  border: 0;
  display: flex;
  gap: 2ex;
  align-items: center;
  justify-content: space-around;
  padding: 0.7rem;
  background: var(--accent);
  margin-inline: auto;
  border-radius: 0 0 0.8rem 0.8rem;
  font-size: 0.8rem + 0.5vw;
}
.color-select-group {
  display: flex;
  align-items: center;
  gap: 1ex;
}
.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: var(--bg);
}

.color-picker input[type="radio"]#dark {
  --radio-color: var(--bg);
}
/*---FONTS---*/
@font-face {
  font-family: "Inter-Variable";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Inter-Variable-Italic";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "BricolageGrotesque";
  font-weight: 200 800;
  font-stretch: 75% 100%;
  src: url("../fonts/BricolageGrotesque.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-display: swap;
}

/*----TYPO------*/
h1, h2, h3 {
  font-family: BricolageGrotesque, sans-serif;
}

h1 {
  font-variation-settings: "opsz" 24, "wght" 800, "wdth" 100;
  font-size: var(--step-3);
  letter-spacing: -0.05rem;
}

h2 {
  font-size: var(--step-2);
  &::after{
    content: " #" / "";
  }
}

h3 {
  font-size: var(--step-1);
  &::after {
  content: " ##" / "";
  }
}

h2, h3 {
  color: var(--accent);
  &:hover::after {
      opacity: 1;
    }
  &::after {
    font-style: italic;
    transition: all 0.2s ease-out;
    opacity: 0;
  }
}

em {
  font-family: "Inter-Variable-Italic";
}

p,
li {
  line-height: 1.5;
}

main a::after {
  content: "↗" / "";
}

abbr {
  text-decoration: underline dotted;
  text-underline-offset: .3ex;
}

/*---LINKS---*/
.menu a {
  text-decoration: none; /* no underline */
}

a {
  text-underline-offset: .2ex;
  transition: all .2s ease-out;
}


a:hover {
  color: var(--accent);
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;

}

/*---SCROLLBAR---*/
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 100vw;
}

/*---CONTAINER POUR TOUTES LES PAGES---*/
#normal-page-container {
  padding-inline: var(--rythme);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#normal-page-container > :first-child {
  padding-top: calc(2 * var(--rythme));
}

/*---NAVIGATION---*/
.mobile-nav-toggle {
  display: none;
}

.navigation-flexer {
  /*composant de étiré de navigation desktop sur toutes les autres pages que la homepage*/
  display: flex;
  align-items: center;
  gap: var(--rythme);
  border: 0.1px ridge var(--txt);
  border-radius: 1.5rem;
  line-height: 1rem;
  overflow: hidden;
}

.navigation-flexer,
.homepage-nav {
  font-weight: 600;
}

.homepage-nav li {
  font-size: var(--step-2)!important;
}

#navigation-announcer {
  letter-spacing: 0.02rem;
  padding-inline: calc(0.5 * var(--rythme));
  padding-block: calc(0.25 * var(--rythme));
  background-color: var(--txt);
  color: var(--bg);
}

.menu li,
.homepage-nav li {
  list-style-type: none;
}

/*---NAVIGATION PAGE D'ACCUEIL DU SITE VERSION DESKTOP ---*/
#homepage-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  grid-row: 1 / 3;
  margin-left: calc(2 * var(--rythme));
  font-size: var(--step-1);
}

.homepage-nav a {
  color: var(--txt);
  text-decoration: none;
}

.homepage-nav a:hover {
  color: var(--accent);
}

@media (width > 1000px) {
  /*MENU DESKTOP PAGE D'ACCUEIL*/
  .homepage-nav ul {
    height: 100%;
    writing-mode: tb-rl;
    transform: rotate(-180deg) !important;
    border-left: 2px solid var(--txt);
  }
  .homepage-nav li {
    height: 100%;
    border-right: 2px solid var(--txt);
    padding: calc(0.25 * var(--rythme));
  }
}

.menu {
  display: flex;
  flex-direction: row;
  gap: var(--rythme);
}

/*---PAGE D'ACCUEIL DU SITE---*/
#homepage-container {
  min-height: 100dvh;
  padding-block: var(--rythme);
  padding-inline: var(--rythme);
}

#homepage-profil {
  display: flex;
  align-items: center;
  gap: calc(0.25 * var(--rythme));
}

#homepage-profil img {
  max-width: calc(2 * var(--rythme));
  max-height: calc(2 * var(--rythme));
}

#homepage-hero,
.homepage-footer {
  max-width: 70dvw;
}

#homepage-hero > section {
  margin-top: calc(2 * var(--rythme));
}

#homepage-brief article {
  margin-top: calc(0.5 * var(--rythme));
}

#homepage-brief .services span,
#homepage-brief .services i {
  font-size: var(--step-1);
}

#homepage-brief .services li {
  display: flex;
  gap: var(--step-0);
  align-items: center;
  & > * {
    flex: 0 0 max-content; 
  }
}

#homepage-brief .services li:not(:first-child) {
  margin-top: calc(0.25 * var(--rythme));
}

/*---PAGE D'ACCUEIL DU SITE : SECTION PROJETS---*/
#homepage-projets {
  container-type: inline-size;
}

#homepage-hero h2::after {
  content: "";
}

.homepage-projets-titre-flexer {
  display: flex;
  gap: calc(0.25 * var(--rythme));
  align-items: center;
  justify-content: space-between;
}

.homepage-projets-titre-flexer hr {
  flex: 1;
  height: 1px;
  border: none;
  background-color: var(--shadow);
}

#homepage-projets > :nth-child(2) {
  margin-top: var(--rythme);
}

.homepage-projets-grid-item + .homepage-projets-grid-item {
  margin-top: calc(2*var(--rythme));
}

.homepage-projets-grid-item__right__titleanddesc span {
  color: var(--spanProjets) !important;
  font-size: var(--step-1) !important;
  font-weight: 700;
  text-wrap: balance;
}
.homepage-projets-grid-item__left{
  align-content: center;
}

.homepage-projets-grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--rythme);
}

.homepage-projets-grid-item__right {
  display: flex;
  gap: calc(.5 * var(--rythme));
  justify-content: space-between;
  flex-direction: column;
}

.homepage-projets-grid-item h3 {
  font-size: var(--step-2);
  font-weight: 600;
  margin-top: unset;
}

.homepage-projets-grid-item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
  grid-column: 2 / 3;
}

.homepage-projets-tags {
  line-height: 1rlh;
  list-style-type: none;
  padding-block: 0.1ex;
  padding-inline: 0.6ex;
  border-radius: var(--border-radius);
  border: 1px solid var(--txtlighten20);
  font-weight: 400;
  font-size: var(--step--2);
  opacity: .9;
  transition: all 0.2s ease-out;
  cursor: default;
}
.homepage-projets-tags:hover {
  color: var(--accent);
  background-color: var(--bg);
  border-color: var(--accent);
}

.homepage-projets-grid-item span {
  grid-column: 2 / 3;
}

/*MEDIA QUERY HOMEPAGE PROJETS FOR DESKTOP*/
@media (width >= 1200px) {
  .homepage-projets-grid-item {
    grid-template-columns: 15% 85% !important;
    gap: 0!important;
  }

  .homepage-projets-grid-item + .homepage-projets-grid-item {
    margin-top: calc(3 * var(--rythme));
  }
  .homepage-projets-grid-item {
    position: relative;
  }
  .homepage-projets-grid-item__left {
    grid-column: 2 / 3;
  }
  .homepage-projets-grid-item__right {
    max-width: 18dvw;
    background-clip: padding-box;
    border: ridge 0.1px transparent;
    z-index: infinite;
    position: absolute;
    background-color: oklch(80% 0.03 220 / 40%);
    padding-inline: calc(0.5 * var(--rythme));
    padding-block: calc(0.25 * var(--rythme));
    color: var(--bg);
    top: 8dvh;
    left: 0;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 5px 0px var(--shadow);
    backdrop-filter: blur(30px);
    color: var(--txt);
  }
  .homepage-projets-tags {
    border-color: var(--bg) !important;
    background-color: var(--bg);
    color: var(--txt);
    font-size: var(--step--2) !important;
    font-weight: 400 !important;
    padding-block: calc(0.05 * var(--rythme));
    opacity: 1 !important;
  }
}
/*CONTAINER QUERY HOMEPAGE PROJETS FOR MOBILE: ;*/
@container (width <= 600px) {
  .homepage-projets-grid-item {
    display: flex;
    flex-direction: column;
    gap: calc(.5*var(--rythme));
    & img {
      width: 100%;
    }
  }
  .homepage-projets-grid-item__right {
    gap: calc(.25*var(--rythme));
  }
}

/*---PAGE D'ACCUEIL DU SITE, SECTION PROJET GSAP ANIM---*/
.homepage-projets-hidden {
  transform: translateX(-10dvw);
  opacity: 0;
  transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
}

/*---PAGE D'ACCUEIL DU SITE : SECTION SERVICES---*/
#homepage-services-grid {
  margin-block: var(--rythme);
  display: grid;
  gap: var(--rythme);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#homepage-services-grid > article {
  border-radius: var(--border-radius);
  border: 1px solid var(--accent);
}

#homepage-services-grid > article > * {
  padding: calc(0.25 * var(--rythme));
}

#homepage-services-grid li {
  list-style-type: none;
}

.homepage-services-item-header {
  background-color: var(--accent);
  color: var(--bg);
  font-size: var(--step-1);
  text-wrap: balance;
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.25 * var(--rythme));
  justify-content: space-between;
  align-items: center;
}

.homepage-services-item-header h3 {
  margin-top: 0;
  font-family: "Inter-Variable";
  font-weight: 400;
}

.homepage-services-item-header h3 {
  flex: 1 1 min-content;
}

.services-icon {
  display: grid;
  place-items: center;
  padding: calc(0.125 * var(--rythme));
  background-color: var(--bg);
  border-radius: 50%;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
}

.homepage-services-item-category-list li {
  display: flex;
  flex-direction: column;
}

.homepage-services-item-category-list li + li {
  margin-top: calc(0.25 * var(--rythme));
}

.homepage-services-item-category-details {
  font-size: var(--step--2);
  opacity: 0.83;
}

/*---FOOTER---*/
#footer {
  font-size: var(--step--2);
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 0.5fr));
  grid-template-rows: min-content;
  column-gap: var(--rythme);
  justify-items: start;
  margin-top: calc(2 * var(--rythme));
  padding-top: calc(0.5 * var(--rythme));
  border-top: 2px solid var(--shadow);
  & address {
    font-style: unset;
    & a:first-child {
      text-decoration: underline !important;
      &::after{
        content: none;
      }
    }
  }
  & li{
    list-style-type: none;
  }
  & a {
    text-decoration: none;
    &::after {
      content: "↗ " / "";
      color: var(--accent);
    }
  }
}

#eco-index {
  display: inline-flex !important;
  word-break: unset !important;
  flex-wrap: wrap;
  & > * {
    flex: 0 1;
  }
}

#footer li + li, #footer address a + a {
  margin-top: calc(0.5 * var(--rythme));
}

#footer a {
  display: flex;
  align-items: center;
  gap: 1ex;
  word-break: break-all;
&#rss{
    text-decoration: none;
  }
}

#ecoindex-score {
  color: #00101d;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #34bc6e;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  aspect-ratio: 1;
  font-weight: 600;
}

/*---BLOG LIST PAGE---*/
.tags-date {
  color: var(--bg);
  display: block;
  padding-top: calc(.5*var(--rythme));
}

#blog {
  max-width: 90ch;
  padding-bottom: var(--rythme);
  margin-inline: auto;
}

.blog-card-title {
  color: var(--bg);
  font-size: var(--step-2);
  font-family: "BricolageGrotesque", sans-serif;
  line-height: 1.2;
  text-wrap: balance;
  font-weight: 700;
  text-decoration: underline var(--accent);
  text-decoration-thickness: unset !important;
  text-decoration-skip-ink: unset !important;
  transition: text-decoration-color .2s ease-out;
}

.blog-card-title::after {
  content: none;
}

.blog-card-title:hover {
  text-decoration-color: var(--bg)!important;
  color: var(--bg) !important;
}

#blog-index-tags {
  color: var(--bg);
  padding-block-start: 0.3rem;
  padding-block-end: 0.3rem;
  padding-inline: 0.7rem;
  border: 2px solid;
  border-radius: 1rem;
  transition: all .2s ease-out;

}

#blog-index-tags:hover {
  color: var(--accent);
  background-color: var(--bg);
}

#blog-index-tags::before {
  content: "# " / "";
}

#blog-article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  margin-inline: auto;
  column-gap: var(--rythme);
}

#blog-article-list article {
  gap: calc(0.5 * var(--rythme));
  box-shadow: 1px 1px 5px 0px var(--shadow);
  margin-top: var(--rythme);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(0.5 * var(--rythme));
  border-radius: calc(0.25 * var(--rythme));
  background-color: var(--accent);
}

#blog > h1 {
  margin-top: var(--rythme);
}

.blog-card-tags {
  background-color: var(--accent);
  color: var(--bg);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.3 * var(--rythme));
}

.blog-card-tags-link {
  text-decoration: none;
  padding-inline: calc(0.1 * var(--rythme));
  padding-block: calc(0.05 * var(--rythme));
  border: 1px solid var(--bg);
  border-radius: var(--border-radius);
  font-size: .75rem;
}

.blog-card-tags-link:hover {
  background-color: var(--bg);
  color: var(--accent);
  text-decoration: none;
}

#nav-secondary {
  margin-top: var(--rythme);
  & ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 1.5rem, calc(.5*var(--rythme)));
  }
  & li {
    line-height: 1rlh;
  }
  & a {
    text-decoration: none;
    padding-inline: 1ex;
    padding-block: .5ex;
    background-color: oklch(from var(--bg) calc(l + 5) c h / 30%);
    border-radius: .1rem;
    transition: background-color .2s ease-out;
    box-shadow: 1px 1px 2px 0px var(--shadow);
    &:hover {
      background-color: oklch(from var(--bg) calc(l + 5) c h / 60%);
    }
    &::after {
      content: "";
    }
  }
}

/*---POST---*/
.wrapper-post {
  padding: var(--rythme);
  padding-block-start: calc(2 * var(--rythme));
}

#post-header {
  margin-bottom: var(--rythme);
}

.navigation-flexer-post {
  /*COMPOSANT DE NAVIGATION DESKTOP DANS LES POST*/
  flex-direction: column;
  align-items: unset;
  border-radius: var(--border-radius);
  gap: 0;
}

#post-menu {
  /*COMPOSANT DE NAVIGATION DESKTOP DANS LES POST*/
  flex-direction: column;
  gap: calc(0.25 * var(--rythme));
  padding-inline: calc(0.5 * var(--rythme));
  padding-block: calc(0.25 * var(--rythme));
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.post-grid > #footer {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.post-grid > main {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.post-grid > nav {
  grid-column: 1 / 2;
}

.post-grid > header, .post-grid > nav {
  max-width: 15dvw;
}

#post {
  max-width: 65ch;
}

#post img {
  margin-top: calc(0.5 * var(--rythme));
}

#post h2, #post h3, #post h4, #post h5 {
  margin-top: calc(2*var(--step-0));
}


#post h4, #post h5 {
  text-transform: uppercase;
}

#post > p + p {
  margin-top: calc(0.25 * var(--rythme));
}

#post li::marker {
  color: var(--accent);
}

#post header > * + *, #post > * + * {
  margin-top: calc(0.5 * var(--rythme));
}

.post-date {
  margin-top: calc(0.125 * var(--rythme)) !important;
  display: block;
  opacity: 0.9;
  font-size: var(--step--2);
}

.post-tags {
  opacity: 0.9;
  font-size: var(--step--2);
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.25 * var(--rythme));
  list-style-type: none;
}

.post-tags a {
  display: inline-block;
  padding-inline: calc(0.15 * var(--rythme));
  padding-block: calc(0.04 * var(--rythme));
  border-radius: var(--border-radius);
  color: var(--bg);
  background-color: var(--txt);
  text-decoration: none;

  &:hover {
    color: var(--accent);
    transition: all 0.2s ease;
    background-color: var(--bg);
    outline: 1px ridge var(--accent);
  }
  &::before {
    content: "# / "";
  }
}
#post a {
  word-wrap: anywhere;
}
article > p > a:hover {
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

.post-main figure {
  display: grid;
  place-items: center;
  margin-block: var(--rythme);
}

.post-main figcaption {
  margin-top: calc(0.25 * var(--rythme));
  font-variation-settings: "wght" 320;
  text-align: center;
}

/*UPDATE POST ENTRY*/
.post-update {
  margin-top: calc(0.5 * var(--rythme));
  padding: calc(0.25 * var(--rythme));
  border-left: 2px solid var(--txt);
  background-color: var(--bglighten20);
  & span {
    font-weight: bold;
    display: block;
  }
}

/* POST DESCRIPTION */
#post > header > p {
  padding: calc(0.25 * var(--rythme));
  border-left: 2px solid var(--txt);
  background-color: var(--bglighten20);
}

/*MEDIA QUERY POST*/
@media (width < 1000px) {
  .post-main {
    padding-block: var(--rythme);
  }
  .post-grid {
    display: block;
  }

  .post-grid nav {
    margin-right: 0;
  }

  .post-grid #owner {
    grid-column: 1 / 4;
  }
  .table-of-content {
    display: none;
  }
}

/*TOC*/
.table-of-content {
  font-size: var(--step--2);
  & ol {
    list-style-type: none;
  }
  & a {
    text-decoration: none;
  }
  &::before {
  font-size: var(--step--2);
  content: "Table de contenu ↓" / "Table de contenu";
  margin-top: calc(2 * var(--rythme));
  margin-bottom: calc(0.25 * var(--rythme));
  display: block;
  background-color: var(--txt);
  color: var(--bg);
  padding-inline: calc(0.5 * var(--rythme));
  padding-block: calc(0.25 * var(--rythme));
  border-radius: var(--border-radius);
  font-weight: 600;
  }
  & > ol > li + li {
  margin-top: calc(0.5 * var(--rythme));
  }
  & > ol > li > ol {
  text-indent: 1rem;
  padding-top: calc(0.25 * (var(--rythme)));
  font-weight: 300;
    & > li > ol {
      font-size: smaller;
    }
  }
}
  

.table-of-content 


.table-of-content 


/*---TAG PAGE---*/
#tags-page {
  margin-block: var(--rythme);
  max-width: 60ch;
  margin-inline: auto;
}

.tags-article-card {
  margin-top: calc(.5*var(--rythme));
  list-style-type: none;
  padding: calc(.5*var(--rythme));
  background-color: var(--accent);
  color: var(--bg);
  border-radius: var(--border-radius);
}

.tags-article-card:first-child {
  margin-top: var(--rythme);
}

.tags-article-card h2 {
  color: var(--bg);
}

.tags-article-card a {
  color: var(--bg)!important;
}

.tags-article-card time {
  margin-top: calc(0.5 * var(--rythme));
}

/*--COLOPHON---*/
.colophon-link {
  color: var(--txt);
  text-decoration: underline;
}

#colophon {
  margin-block: var(--rythme);
  max-width: 60ch;
  margin-inline: auto;
}

#colophon > :nth-child(2) {
  margin-top: var(--rythme);
}

#colophon > p + p {
  margin-top: calc(0.5 * var(--rythme));
}

/*---CV---*/
#container-cv {
  position: relative;
  display: grid;
  grid-template-columns: minmax(300px, 0.5fr) minmax(300px, 1fr);
  column-gap: calc(2 * var(--rythme));
  row-gap: calc(2 * var(--rythme));
  margin-top: var(--rythme);
  margin-bottom: var(--rythme);
}

#container-cv h2 {
  font-family: BricolageGrotesque, system, sans-serif;
  font-variation-settings: "opsz" 24, "wght" 800, "wdth" 100;
  font-size: var(--rythme);
  letter-spacing: -0.05rem;
  max-width: 20ch;
  color: unset;
}

#download-cv {
  display: grid;
  place-items: center;
  box-shadow: 0.5px 0.5px 1px 0px var(--shadow);
  bottom: var(--rythme);
  right: var(--rythme);
  aspect-ratio: 1;
  color: var(--txt);
  position: fixed;
  appearance: none;
  border-radius: 50%;
  background-color: var(--txt);
  border: 1px ridge transparent;
  color: var(--bg);
  opacity: 0.8;
  text-decoration: none;
  transition: all .2s ease-out;
  & span {
    padding: calc(.25*var(--rythme));
  }
}

#download-cv::after {
  content: "";
}

#download-cv:hover {
  opacity: 1;
}

/*---CV : SECTION PRO---*/
#experiences {
  display: grid;
  grid-template-columns: max-content minmax(4rem, auto) minmax(4rem, auto);
  gap: var(--rythme);
  align-items: center;
}

.travail-time {
  grid-column: 1 / 2;
  text-align: right;
}
.hr-parent {
  grid-column: 2 / 3;
}

.travail-titre-poste {
  grid-column: 3 / 4;
  cursor: pointer;
}

.travail-prose {
  grid-column: 3 / 4;
  margin-top: var(--rythme);
}

summary {
  position: relative;
}
summary::marker {
  content: none;
}

summary::before,
summary::after {
  content: "";
}

summary::before,
summary::after {
  width: 0.75em;
  height: 0;
  border-bottom: 3px solid;
  position: absolute;
  top: 50%;
  left: -1.5rem;
}
summary::after {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}
[open] summary::after {
  transform: rotate(0deg);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: translateY(-20px);
    filter: brightness(2);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    transform: scale(1);
  }
}

.travail-prose a {
  color: var(--accent);
}
.travail-prose {
  list-style: none;
}

.travail-prose > li::before {
  content: "• " / "";
  color: var(--accent);
}
.travail-prose > li + li {
  margin-top: calc(0.5 * var(--rythme));
}

.hr-parent {
  display: flex;
}

hr {
  border-top: 2px solid var(--accent);
  flex: 1 1;
}

/*---CV : SECTION DIPLOMES---*/
.scolaire-texte {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--rythme);
}

.time-diplomes {
  display: block;
  padding-bottom: calc(0.25 * var(--rythme));
  border-bottom: 2px solid var(--accent);
}

.diplome-desc {
  display: block;
  padding-top: calc(0.5 * var(--rythme));
  transition: all .2s ease-out;
}

.diplome-desc:hover {
  background-color: var(--accent);
  color: var(--bg);
  padding: 1rem;
}
/*---CV SECTION : COMPETENCES---*/

.competences-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--rythme);
}
.competences-details li {
  border-top: 2px solid var(--txt);
  padding-top: calc(0.5 * var(--rythme));
  padding-bottom: calc(0.5 * var(--rythme));
}

.competences li::marker {
  content: "➔ " / "";
  color: var(--accent);
}

.competences-details + .competences-details {
  margin-top: calc(2 * var(--rythme));
}

/*--- CV SECTION : CERTIFICATIONS ---*/
#certifications > p {
  margin-top: calc(0.25 * var(--rythme));
}

#certifications time:not(:first-child) {
  margin-top: calc(0.5 * var(--rythme));
}

#certifications time {
  display: block;
  padding-bottom: calc(0.25 * var(--rythme));
}

/*---CV : MEDIA QUERY CV---*/
@media (width < 700px) {
  #experiences {
    gap: calc(0.5 * var(--rythme));
  }
  #container-cv {
    display: block;
    margin-top: 0;
  }
  #container-cv > *:nth-child(2n) {
    margin-top: calc(0.5 * var(--rythme));
  }
  #container-cv > section {
    margin-block: var(--rythme);
  }
  summary::before,
  summary::after {
    width: 0.75em;
    height: 0;
    border-bottom: 3px solid;
    left: 0;
    top: unset !important;
    bottom: -1.5rem !important;
  }
  .travail-titre-poste {
    grid-column: 1 / 4;
  }

  .travail-prose {
    display: block;
    grid-column: 1 / 4;
  }
  .travail-time ~ .travail-time {
    text-align: left;
    margin-top: calc(2 * var(--rythme));
  }
  #experiences {
    grid-template-columns: auto;
    padding-bottom: calc(2 * var(--rythme));
  }
}

/*---PROJETS INDEX PAGE---*/
#projets {
  margin-top: var(--rythme);
  margin-inline: auto;
}

#project-card-container {
  max-width: 90ch;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  column-gap: var(--rythme);
}

.projets-container #footer {
  margin-top: var(--rythme);
}

.project-descripter {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--rythme));
}

.project-descripter p {
  flex: 1 0;
  color: var(--bg);
  opacity: 0.9;
  margin-top: auto;
}

.project-card {
  box-shadow: 2px 2px 3px 0px var(--shadow);
  margin-top: calc(0.5 * var(--rythme));
  padding: calc(0.5 * var(--rythme));
  border-radius: 1rem;
  background-color: var(--accent);
}

.project-img-wrapper {
  overflow: hidden;
}

.project-img-wrapper img,
.project-img-wrapper video {
  margin-top: calc(0.5 * var(--rythme));
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 1px 1px 3px 0px var(--shadow);
  transition: opacity .2s ease-out;
}

.project-img-wrapper video {
  margin-top: calc(0.25 * var(--rythme));
}

.project-img-wrapper img:hover {
  opacity: 0.9;
}

.project-card-title {
  margin-top: calc(0.5 * var(--rythme));
  color: var(--bg);
}

.project-card-title a {
  text-decoration: none;
}

/*---PROJET LAYOUT---*/
#projet-layout {
  max-width: 60ch;
  margin-inline: auto;
}

#projet-layout p,
#projet-layout ul,
#projet-layout ol {
  margin-top: calc(0.5 * var(--rythme));
}

#projet-layout h2,
#projet-layout h3 {
  margin-top: var(--rythme);
}

#projet-layout > ul > li {
  list-style-type: disc;
}

#projet-ol li {
  margin-top: calc(0.5 * var(--rythme));
}

/*---PAGE 404--*/
.ascii {
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  white-space: pre;
}

/*---ACCESSIBLITY---*/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/*---TABLES---*/
table {
  border-collapse: collapse;
}

thead {
  backdrop-filter: blur(15px) contrast(90%);
  position: sticky;
  top: 0.1rem;
  margin-bottom: var(--rythme);
}

th {
  font-weight: bold;
  background-color: var(--bglighten20);
}

th,
td,
caption {
  padding: calc(0.25 * var(--rythme));
  text-align: left;
}

tr {
  border-bottom: 1px solid var(--txt);
  background-color: var(--bglighten10);
}

/*---RESPONSIVE TABLES ON MOBILE : pour que ça fonctionne nécessaire que chaque td ait un attribute 'data-cell' qui soit égal au th de sa colonne, par exemple : th "job-title", td doit être <td data-cell="job-title">---*/
@media (width < 800px) {
  th {
    display: none;
  }
  td {
    display: grid;
    grid-template-columns: 33dvw auto;
    word-wrap: anywhere;
    gap: calc(0.75 * var(--rythme));
    padding: calc(0.25 * var(--rythme));
  }
  td::before {
    content: attr(data-cell);
    font-weight: 700;
  }
  td:first-child {
    padding-top: calc(0.5 * var(--rythme));
  }
  td:last-child {
    padding-bottom: calc(0.5 * var(--rythme));
  }
}

/*---MEDIA QUERY AFFICHAGE MOBILE---*/
@media (width < 1000px) {
  li {
  list-style-position: inside;
  }
  /* HAMBURGER MENU */
  #homepage-menu {
    position: unset;
    font-size: unset;
  }
  #primary-navigation {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    color: inherit;
    position: absolute;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
    top: calc(2 * var(--rythme));
    left: var(--rythme);
    background-color: unset;
  }

  #hamburger-button-close {
    margin-bottom: var(--rythme);
  }

  #hamburger-button-close svg {
    fill: var(--txt);
  }

  #mobile-navigation[popover] {
    left: 0;
    top: 0;
    height: 100dvh;
    width: 60dvw;
    padding: calc(3 * var(--rythme)) var(--rythme);
    border: none;
    background-color: hsla(0, 0%, 42%, 0.3);
    backdrop-filter: blur(45px);
    transition: transform .1s ease-out, opacity .1s ease-out, display .1s ease-out, overlay .1s ease-out;
    transition-behavior: allow-discrete;
    /*POPOVER IN EXIT STATE */
    opacity: 0;
    transform: translateX(-30vw);
    &:popover-open {
    /*POPOVER IN OPEN STATE*/
    opacity: 1;
    transform: none;
      /*POPOVER BEFORE THE OPENING*/
      @starting-style {
        opacity: 0;
        transform: translateX(-30vw);
      }
    }
  }

  #mobile-navigation ul {
    writing-mode: horizontal-tb;
    transform: none;
    border-left: none;
    display: flex;
    gap: var(--rythme);
    flex-direction: column;
  }

  #mobile-navigation li {
    border-right: none;
    border-bottom: 2px solid var(--txt);
    padding-block: calc(0.125 * var(--rythme));
    font-family: Inter-Variable, Helvetica, sans-serif;
    padding-left: 0;
    font-weight: 600;
    color: var(--txt);
  }
  /* FIN HAMBURGER MENU */

  #homepage-services-grid {
    display: flex;
    flex-direction: column;
  }
  .homepage-projets-grid-item__right__titleanddesc span {
    color: var(--txt) !important;
  }
  .homepage-services-item-header {
    flex-wrap: nowrap;
  }
  #homepage-hero,
  .homepage-footer {
    max-width: 100dvw;
  }

  #project-card-container {
    grid-template-columns: unset !important;
  }

  #project-card-container > * + * {
    margin-top: var(--rythme) !important;
  }

  #homepage-container > main {
    margin-top: calc(4 * var(--rythme));
  }

  #normal-page-container > main {
    margin-top: calc(2 * var(--rythme));
  }

  /*---HOMEPAGE PROJETS---*/
  #homepage-projets-grid {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--rythme));
  }

  #homepage-prose {
    flex-wrap: wrap;
  }
  #homepage-prose > * {
    flex-basis: auto;
  }

  #homepage-hero {
    padding-block: unset;
  }
  /* INDISPENSABLE POUR PAS QUE LE MENU ROTATE EN DIMINUANT LARGEUR DE LA PAGE */
  .menu-anim {
    transform: rotate(0deg) !important;
  }
}
/*---MEDIA QUERY POUR ENLEVER LE HAMBURGER POPOVER QUAND ON REVIENT SUR DESKTOP ---*/
@media (width > 1000px) {
  #mobile-navigation {
    display: none;
  }
}

/*---ACCESSIBILITY---*/
[aria-current="page"] {
  font-weight: 700;
  color: var(--accent) !important;
}

/*---VIEW TRANSITIONS---*/
@view-transition {
  navigation: auto;
}

/*---ESSAIS LINK ON BLOG PAGE---*/
#essais-linker {
  transition: color .2s ease-out;
  &:hover{
    color: var(--txt)!important;
  }
}