/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  color-scheme: dark light;
}

p, li {
  line-height: 1.5;
  text-wrap: pretty;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  background-color: var(--bg);
  color: var(--txt);
  overflow-x: hidden;
  text-rendering: geometricPrecision;
  font-family: "Inter-Variable", Helvetica, system, sans-serif;
}

/* Set shorter line heights on headings and text-wrap */
h1,
h2,
h3,
h4 {
  line-height: 1.15;
  text-wrap: balance;
  letter-spacing: -0.03rem;
}

/* A elements that don't have a class get default styles */
a {
  color: currentColor;
  text-underline-offset: 0.3ex;
}

button {
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 0.3rem;
}

/* More consistent, styleable hr*/
hr {
  border-width: 1px 0 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

*:focus-visible {
  transition: all 0.2s ease;
  outline: 4px chartreuse solid;
  outline-offset: 0.3ch;
}

button:focus-visible {
  outline-offset: 0.8ex;
}

input {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2rem solid var(--white);
  border-radius: 0.1rem 0.1rem;
  padding: 0.2rem 0.6ch;
}
/*---FIN CSS RESET---*/

:root {
  --baseline: clamp(1.75rem, 1.4rem + 1.75vw, 3.5rem);
  --baselineh2: clamp(1.4rem, 1rem + 1.3vw, 2.5rem);
  --baselineh3: clamp(1.2rem, 0.98rem + 1vw, 2rem);
  --bg: oklch(35.5% 13.5% 174.846);
  --txt: #dfd6d6;
  --accent: oklch(91.64% 0.073 77.44);
  --shadow: oklch(10% 0 0 / 0.25);
  --code: oklch(97% 0.005 77.44 / 0.9);
}
@supports (color: rgb(from white r g b)) {
  :root {
    --bgdarken65: oklch(from var(--bg) calc(l + 50) c h / 35%);
  }
}

:root:has(#light:checked) {
  --bg: #c3e2ff;
  --txt: #1d533e;
  --accent: #752a04;
  --code: oklch(24% 0.03 42.02 / 0.6);
}
:root:has(#eco:checked) {
  mix-blend-mode: luminosity;
}

@font-face {
  font-family: "Inter-Variable";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "BricolageGrotesque";
  font-weight: 200 800;
  font-stretch: 75% 100%;
  src: url("../fonts/BricolageGrotesque.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-display: swap;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 100vw;
}
pre::-webkit-scrollbar {
  height: 0.15rem;
}

pre::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 100vw;
}

/*---GENERAL---*/
#normal-page-container {
  padding-inline: var(--baseline);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#normal-page-container > :first-child {
  padding-top: calc(2 * var(--baseline));
}

.navigation-flexer {
  display: flex;
  align-items: center;
  gap: var(--baseline);
  border: 0.1px ridge var(--txt);
  border-radius: 1.5rem;
  line-height: 1rem;
  overflow: hidden;
}
.navigation-flexer,
.homepage-nav {
  font-weight: 600;
}
.navigation-flexer > * {
  padding-block: 0.3rem;
}

.navigation-flexer ul {
  margin: 0; /* Add this rule to reset margin */
  padding: 0; /* Add this rule to reset padding */
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.navigation-flexer ul li {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

.navigation-announcer {
  line-height: 1rem;
  letter-spacing: 0.02rem;
  padding-inline: 1.4rem;
  background-color: var(--txt);
  color: var(--bg);
  border: 4px solid var(--txt);
}

.wrapper-post {
  padding: var(--baseline);
  padding-block-start: calc(2 * var(--baseline));
}

/*----COULEURS------*/
footer li {
  list-style-type: none;
}

#footer a {
  color: var(--txt);
}
.menu li,
.homepage-nav li {
  list-style-type: none;
}
.menu a {
  color: var(--txt);
  text-decoration: none; /* no underline */
}

.menu a:hover {
  color: var(--accent);
  transition: color 0.3s ease;
}

p > a {
  color: var(--txt);
}

.colophon-link {
  color: var(--txt);
  text-decoration: underline;
}
a {
  text-underline-offset: 0.2ex;
}
p > a:hover {
  color: var(--accent);
  transition: color 0.3s ease;
}
a:hover {
  text-underline-offset: 0.3ex;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
  transition: text-underline-offset 0.3s ease,
    text-decoration-thickness 0.3s ease;
}

#footer a:hover {
  color: var(--accent);
  text-decoration-color: var(--accent);
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
  transition: color 0.3s ease;
}
/*----TYPO------*/
h1 {
  font-family: BricolageGrotesque, system, sans-serif;
  font-variation-settings: "opsz" 24, "wght" 800, "wdth" 100;
  font-size: var(--baseline);
  letter-spacing: -0.05rem;
}
h2 {
  font-family: BricolageGrotesque, sans-serif;
  font-size: var(--baselineh2);
  color: var(--accent);
}

h2::after {
  content: " #";
  font-style: italic;
  transition: all 0.3s ease-out;
  opacity: 0; /* Start with opacity 0 to hide it */
}

h2:hover::after {
  opacity: 1; /* Change opacity to 1 on hover */
}

h3 {
  font-family: BricolageGrotesque, system, sans-serif;
  font-size: var(--baselineh3);
}

h3::after {
  content: " ##";
  font-style: italic;
  transition: all 0.3s ease-out;
  opacity: 0; /* Start with opacity 0 to hide it */
}

h3:hover::after {
  opacity: 1; /* Change opacity to 1 on hover */
}

p,
li,
code,
pre {
  line-height: 1.5;
}

p > code,
li > code {
  background-color: var(--bgdarken65);
  padding-inline: 0.4ch;
  border-radius: 0.15rem;
  font-weight: 400;
}

main a::after {
  content: "↗";
}
/*--THEME SWITCH---*/
.color-picker {
  position: absolute;
  left: 0;
  right: 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
label {
  color: var(--bg);
}
.color-picker input[type="radio"] {
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}
input {
  accent-color: var(--accent);
}
.color-picker > fieldset {
  width: clamp(150px, 50%, 250px);
  border: 0;
  display: flex;
  gap: 2ch;
  align-items: center;
  justify-content: space-around;
  padding: 0.7rem;
  background: var(--accent);
  margin-inline: auto;
  border-radius: 0 0 0.8rem 0.8rem;
  font-size: 0.8rem + 0.5vw;
}
.color-select-group {
  display: flex;
  align-items: center;
  gap: 1ch;
}
.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: var(--bg);
}

.color-picker input[type="radio"]#dark {
  --radio-color: var(--bg);
}

.color-picker input[type="radio"]#eco {
  --radio-color: var(--bg);
}
/*---HOMEPAGE---*/

#homepage-container {
  min-height: 100dvh;
  padding-inline: var(--baseline);
  display: grid;
  grid-template-columns: minmax(3rem, 1fr) minmax(3rem, min-content);
  grid-template-rows: auto min-content;
}

#homepage-hero h1 {
  max-width: 15ch;
  margin-top: var(--baseline);
}

#homepage-prose {
  display: flex;
  column-gap: calc(2 * var(--baseline));
}

#homepage-prose p {
  margin-top: var(--baseline);
}

#homepage-prose > * {
  flex-basis: 40rem;
  flex-grow: 0;
  flex-shrink: 1;
}

#homepage-menu {
  grid-row: 1 / 3;
  margin-left: var(--baseline);
  font-size: var(--baselineh3);
}

@media (width > 1000px) {
  .homepage-nav ul {
    height: 100%;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    border-left: 2px solid var(--txt);
  }
  .homepage-nav li {
    height: 100%;
    border-right: 2px solid var(--txt);
    padding: calc(0.25 * var(--baseline));
  }
}
.homepage-nav a {
  color: var(--txt);
  text-decoration: none;
}

.homepage-nav a:hover {
  color: var(--accent);
  transition: color 0.3s ease;
}

.ph-house-simple {
  font-size: var(--baselineh3);
}

/* HOMEPAGE ANIMATION */
.intersect-hidden {
  visibility: hidden;
  opacity: 0;
  transition: transform 0.33s ease-out, opacity 0.33s ease-out;
}

.intersect-anim {
  transform: translateY(-100px);
}

.intersect-visible {
  visibility: visible;
  opacity: 1;
}

.anim-1 {
  transition-delay: 75ms;
}

.anim-2 {
  transition-delay: 300ms;
}

.anim-3 {
  transition-delay: 300ms;
}

.anim-4 {
  transition-delay: 700ms;
}

@media (width > 1000px) {
  .anim-5 {
    transition-delay: 700ms;
  }
}
/*---FOOTER INDEX---*/

.hidden {
  display: none;
}

#footer {
  grid-column: 1 / 2;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 0.5fr));
  grid-template-rows: min-content;
  justify-items: start;
  margin-top: auto;
  padding-top: calc(0.5 * var(--baseline));
  border-top: 2px solid var(--txt);
}
#footer li {
  padding-bottom: calc(0.5 * var(--baseline));
}
#links,
#stats {
  list-style-type: none;
}

#stats p::before {
  content: "✺ ";
  color: var(--accent);
}
#me {
  vertical-align: top;
}

/*--- HAMBURGER MENU ---*/
.mobile-nav-toggle {
  display: none;
}

/*---MEDIA QUERY HOMEPAGE---*/

@media (width < 1000px) {
  #project-card-container {
    grid-template-columns: unset !important;
  }

  #project-card-container > * + * {
    margin-top: var(--baseline) !important;
  }
  .navigation-announcer {
    display: none;
  }
  .navigation-flexer {
    border-radius: unset;
    display: unset;
    border: none;
  }
  #homepage-container > main {
    margin-top: calc(4 * var(--baseline));
  }

  #normal-page-container > main {
    margin-top: calc(2 * var(--baseline));
  }

  /* HAMBURGER MENU IN THE MEDIA QUERY */
  .mobile-nav-toggle {
    display: block;
    color: inherit;
    position: absolute;
    background: url("../assets/list.svg");
    background-repeat: no-repeat;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
    top: calc(2 * var(--baseline));
    left: var(--baseline);
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    position: fixed;
    background: url("../assets/x-circle.svg");
  }

  #primary-navigation {
    z-index: 1000;
    position: fixed;
    inset: 0 30% 0 0;
    padding: min(30dvh, 10rem) 2rem;
    background-color: hsla(0, 0%, 42%, 0.3);
    backdrop-filter: blur(1.7rem);
    -webkit-backdrop-filter: blur(1.7rem);
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
  }

  #primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  #homepage-prose {
    flex-wrap: wrap;
  }
  #homepage-prose > * {
    flex-basis: auto;
  }
  #homepage-menu {
    grid-row: 1;
  }
  #primary-navigation ul {
    writing-mode: horizontal-tb;
    transform: none;
    border-left: none;
    display: flex;
    gap: var(--baseline);
    flex-direction: column;
  }
  #primary-navigation li {
    border-right: none;
    border-bottom: 2px solid var(--txt);
    padding: calc(0.25 * var(--baseline));
    font-family: Inter-Variable, Helvetica, sans-serif;
    padding-left: 0;
  }

  #homepage-hero {
    grid-column: 1 / 4;
    grid-row: 2;
    padding-block: unset;
  }
  #footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    row-gap: var(--baseline);
    padding-top: var(--baseline);
    margin-top: var(--baseline);
  }
  #links {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
  }
  #stats {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
  }
  #me {
    grid-column: 1 / 4;
  }
}

/*--MENU GENERALISTE--*/
.social-footer {
  display: flex;
  align-items: center;
  gap: 1ex;
  text-decoration: none;
}

.social-footer::after {
  content: "↗ ";
  color: var(--accent);
}

.rss {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

@media (width>1000px) {
  .post-grid .menu {
    padding-top: 0;
  }
}

.menu {
  line-height: 1;
  display: flex;
  flex-direction: row;
  gap: var(--baseline);
  justify-content: center;
}
.menu li {
  line-height: 1rem;
}

/*--- FIN DU CSS MENU GENERALISTE--*/

/*---------------BLOG INDEX PAGE-------------*/
#blog {
  max-width: 90ch;
  padding-bottom: var(--baseline);
  margin-inline: auto;
}

#blog a {
  text-decoration: none;
}

.blog-card-title {
  color: var(--bg);
  font-size: var(--baselineh2);
  font-family: "BricolageGrotesque", sans-serif;
  line-height: 1.2;
  text-wrap: balance;
  font-weight: 700;
}

.blog-card-title::after {
  content: none;
}

#blog-index-tags {
  color: var(--bg);
  padding-block-start: 0.3rem;
  padding-block-end: 0.3rem;
  padding-inline: 0.7rem;
  border: 2px solid;
  border-radius: 1rem;
}
#blog-index-tags:hover {
  color: var(--accent);
  background-color: var(--bg);
  transition: all 0.3s ease-out;
}
#blog-index-tags::before {
  content: "# ";
}

#blog-article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  margin-inline: auto;
  column-gap: var(--baseline);
}
#blog-article-list article {
  gap: calc(0.5 * var(--baseline));
  box-shadow: 1px 1px 5px 0px var(--shadow);
  margin-top: var(--baseline);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(0.5 * var(--baseline));
  border-radius: calc(0.25 * var(--baseline));
  background-color: var(--accent);
}

#blog-article-list time {
  margin-top: calc(0.5 * var(--baseline));
}
#blog > h1 {
  margin-top: var(--baseline);
}

.blog-card-tags {
  background-color: var(--accent);
  color: var(--bg);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.3 * var(--baseline));
}
.blog-card-tags-link {
  padding-inline: calc(0.2 * var(--baseline));
  padding-block: calc(0.05 * var(--baseline));
  border: 2px solid var(--bg);
  border-radius: 0.3rem;
}

.blog-card-tags-link:hover {
  background-color: var(--bg);
  color: var(--accent);
  text-decoration: none;
  transition: background-color 0.6s ease-out;
}

/*---------------POST-------------*/
.post-main {
  padding-bottom: var(--baseline);
}

#post-header {
  margin-bottom: var(--baseline);
  height: min-content;
  grid-row: 1 / 2;
}

.post-grid aside {
  grid-row: 2 / 3;
}

.navigation-flexer-post {
  flex-direction: column;
  align-items: unset;
  border-radius: 0.3rem;
  gap: calc(0.25 * var(--baseline));
}

#post-menu {
  flex-direction: column;
  gap: calc(0.25 * var(--baseline));
  padding-inline: 1.4rem;
  padding-block: calc(0.25 * var(--baseline));
}

.post-grid {
  display: grid;
  grid-template-columns: minmax(min-content, 15dvw) auto;
  grid-template-rows: min-content min-content auto auto;
  column-gap: calc(4 * var(--baseline));
}

.post-grid #footer {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.post-grid main {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.table-of-content {
  list-style-position: inside;
}
.table-of-content > ol > li > ol {
  text-indent: 1rem;
  padding-top: calc(0.5 * (var(--baseline)));
}
.table-of-content > ol > li > ol > li::marker {
  content: "→ ";
}

.table-of-content a {
  color: var(--txt);
}

#article-post {
  max-width: 70ch;
}
#article-post > main > p + p {
  margin-top: calc(0.5 * var(--baseline));
}

#article-post h2,
h3 {
  margin-top: var(--baseline);
}

#article-post h2 + *,
#article-post h3 + * {
  margin-top: calc(0.5 * var(--baseline));
}

#article-post > p + p {
  margin-top: calc(0.5 * var(--baseline));
}

#article-post ol li + li {
  margin-top: calc(0.5 * var(--baseline));
}

blockquote > p {
  hanging-punctuation: first last;
  text-indent: -0.4em;
}
li {
  list-style-position: outside;
}

#article-post li::marker {
  color: var(--accent);
}

#article-post header > * + * {
  margin-top: calc(0.5 * var(--baseline));
}

#article-post header {
  margin-bottom: var(--baseline);
}

.grid-post-tag li {
  list-style-type: none;
}

.tags-date {
  color: var(--bg);
  display: block;
}

.post-date {
  display: block;
}
.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: calc(0.5 * var(--baseline));
}

.post-tags li {
  list-style-type: none;
}

.tags-style {
  display: inline-block;
  padding-inline: calc(0.3 * var(--baseline));
  padding-block: calc(0.1 * var(--baseline));
  border-radius: 0.3rem;
  color: var(--bg);
  background-color: var(--txt);
}

.tags-style::before {
  content: "# ";
}

article > p > a:hover {
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

pre {
  background-color: var(--bgdarken65);
  margin-block: var(--baseline);
  border-radius: 0.3rem;
  padding: calc(0.25 * var(--baseline));
  box-shadow: 1px 1px 2px 0px var(--shadow);
}

code {
  font-family: SpaceMono-Regular, monospace;
}

code,
pre {
  overflow-x: scroll;
  letter-spacing: -0.07em;
  font-feature-settings: none;
  font-variant-ligatures: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
}

.table-of-content::before {
  content: "Table de contenu ↓";
  margin-bottom: calc(0.5 * var(--baseline));
  padding-bottom: calc(0.5 * var(--baseline));
  display: block;
  border-bottom: 2px solid var(--accent);
}

#post-tags {
  text-decoration: none;
}

#post-tags:hover {
  color: var(--accent);
  transition: all 0.3s ease;
  background-color: var(--bg);
  outline: 1px ridge var(--accent);
}

/*----- TAG PAGE ----- */
#tags-page {
  margin-block: var(--baseline);
  max-width: 60ch;
  margin-inline: auto;
}

#tags-page-ul {
  margin-top: var(--baseline);
  display: flex;
  flex-direction: column;
  gap: var(--baseline);
}

#tags-page-li {
  padding: var(--baseline);
  background-color: var(--accent);
  color: var(--bg);
  border-radius: 1rem;
}

#tags-page-li h2 {
  color: var(--bg);
}

#tags-page-li a {
  text-decoration: none;
}

#tags-page-li time {
  margin-top: calc(0.5 * var(--baseline));
}

/*---------------MEDIA QUERY POST-------------*/
@media (width < 1000px) {
  .post-main {
    padding-block: var(--baseline);
  }
  .post-grid {
    display: block;
  }

  .post-grid nav {
    margin-right: 0;
  }

  .post-grid #owner {
    grid-column: 1 / 4;
  }
  .table-of-content {
    display: none;
  }
}

/*--COLOPHON---*/
#colophon {
  margin-block: var(--baseline);
  max-width: 60ch;
  margin-inline: auto;
}

#colophon > :nth-child(2) {
  margin-top: var(--baseline);
}

#colophon > p + p {
  margin-top: calc(0.5 * var(--baseline));
}

/*---------------DEBUT DU CSS CV-------------*/
.container-cv {
  display: grid;
  grid-template-columns: minmax(300px, 0.5fr) minmax(300px, 1fr);
  column-gap: calc(2 * var(--baseline));
  row-gap: calc(2 * var(--baseline));
  margin-top: var(--baseline);
  margin-bottom: var(--baseline);
}

.container-cv h1 {
  max-width: 20ch;
}

/*---------------CV.PRO-------------*/
.travail {
  display: grid;
  grid-template-columns: max-content minmax(4rem, auto) minmax(4rem, auto);
  gap: calc(0.5 * var(--baseline));
  align-items: center;
}

.travail-time {
  grid-column: 1 / 2;
  text-align: right;
}
.hr-parent {
  grid-column: 2 / 3;
}

.travail-titre-poste {
  grid-column: 3 / 4;
}

.travail-prose {
  grid-column: 3 / 4;
  display: none;
}

.visible {
  display: block;
  animation: fade-in 0.5s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: translateY(-20px);
    filter: brightness(2);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    transform: scale(1);
  }
}

.travail-prose a {
  color: var(--accent);
}
.travail-prose {
  list-style: none;
}

.travail-prose > li::before {
  content: "• ";
  color: var(--accent);
}
.travail-prose > li + li {
  margin-top: calc(0.5 * var(--baseline));
}

.hr-parent {
  display: flex;
}

hr {
  border-top: 2px solid var(--accent);
  flex: 1 1;
}

/*--------------CV.DIPLOMES-------------*/
.scolaire-texte {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--baseline);
}

.time-diplomes {
  display: block;
  padding-bottom: calc(0.5 * var(--baseline));
  border-bottom: 2px solid var(--accent);
}

.card-texte {
  margin: calc(0.1 * var(--baseline));
  border-radius: 0.3rem;
}
.diplome-desc {
  padding-top: calc(0.5 * var(--baseline));
}
.diplome-desc:hover {
  background-color: var(--accent);
  color: var(--bg);
  transition: all 0.6s ease-out;
  padding: 1rem;
}
/*---------------CV.COMPETENCES-------------*/
.competences li {
  list-style-position: inside;
}
.competences-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--baseline);
}
.competences-details li {
  border-top: 2px solid var(--txt);
  padding-top: calc(0.5 * var(--baseline));
  padding-bottom: calc(0.5 * var(--baseline));
}

.competences li::marker {
  content: "➔ ";
  color: var(--accent);
}

.competences-details + .competences-details {
  margin-top: calc(2 * var(--baseline));
}

/*---------------CV.MEDIA QUERY CV-------------*/

@media (max-width: 700px) {
  .container-cv {
    display: block;
    margin-top: 0;
  }
  .container-cv > *:nth-child(2n) {
    margin-top: calc(0.5 * var(--baseline));
  }
  .contenu-pro-titre h1 {
    margin-bottom: var(--baseline);
  }
  .scolaire-titre {
    margin-top: var(--baseline);
  }
  .scolaire-texte {
    margin-top: var(--baseline);
  }
  .competences-titre {
    margin-top: var(--baseline);
  }
  .competences {
    margin-top: var(--baseline);
  }
  .travail-titre-poste {
    grid-column: 1 / 4;
    font-family: Inter-Variable, Helvetica, sans-serif;
    border-top: 2px solid var(--accent);
    padding-top: calc(0.5 * var(--baseline));
  }
  .travail-prose {
    display: block;
    grid-column: 1 / 4;
  }
  .travail-time ~ .travail-time {
    text-align: left;
    margin-top: calc(0.5 * var(--baseline));
  }
  .hr-parent {
    display: none;
  }
  .travail {
    grid-template-columns: auto;
  }
  .certifications-titre {
    margin-top: var(--baseline);
  }
}

/* PROJETS-INDEX */

#projets {
  margin-top: var(--baseline);
  margin-inline: auto;
}

#project-card-container {
  max-width: 90ch;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  column-gap: var(--baseline);
}
.projets-container #footer {
  margin-top: var(--baseline);
}

.project-descripter {
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--baseline));
}

.project-descripter p {
  flex: 1 0;
  color: var(--bg);
  opacity: 0.9;
  margin-top: auto;
}

#project-card {
  box-shadow: 2px 2px 3px 0px var(--shadow);
  margin-top: calc(0.5 * var(--baseline));
  padding: calc(0.5 * var(--baseline));
  border-radius: 1rem;
  background-color: var(--accent);
}

#project-img-wrapper {
  overflow: hidden;
}

#project-img-wrapper img,
#project-img-wrapper video {
  margin-top: calc(0.5 * var(--baseline));
  max-width: 100%;
  height: auto;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0px var(--shadow);
}

#project-img-wrapper video {
  margin-top: calc(0.25 * var(--baseline));
}

#project-card-title {
  margin-top: calc(0.5 * var(--baseline));
  color: var(--bg);
}

#project-card-title a {
  text-decoration: none;
}

/* PROJET LAYOUT */

.projet-layout {
  max-width: 60ch;
  margin-inline: auto;
}

.projet-layout p,
.projet-layout ul,
.projet-layout ol {
  margin-top: calc(0.5 * var(--baseline));
}
.projet-layout h2,
.projet-layout h3 {
  margin-top: var(--baseline);
}

.projet-layout > ul > li {
  list-style-type: disc;
}

#projet-ol li {
  margin-top: calc(0.5 * var(--baseline));
}

/*---------------THEME SWITCHER-------------*/

@media (prefers-color-scheme: light) {
  :root {
    --bg: #c3e2ff;
    --txt: #1d533e;
    --accent: #752a04;
  }
  .post-grid img {
    mix-blend-mode: luminosity;
  }
  p > code,
  li > code,
  code {
    color: var(--txt);
  }
}

.ascii {
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  white-space: pre;
}

/* ACCESSIBLITY */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

figure {
  display: grid;
  place-items: center;
  margin-block: var(--baseline);
}

figcaption {
  margin-top: calc(0.25 * var(--baseline));
  opacity: 0.85;
  text-align: center;
}
