img {
  cursor: zoom-in;
}

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  margin-inline: auto;
  margin-block: auto;
  border: none;
  width: 60vw;
  box-shadow: 2px 2px 5px 1px var(--shadow);
  &:focus {
    outline: none;
  }
  & img {
    margin-top: 0 !important;
    border-radius: 0!important;
  }
}
@media (width < 1000px) {
  dialog[open] {
    width: 90vw;
  }
}

/*   Closed state of the dialog   */
dialog {
  opacity: 0;
  transition: opacity 0.5s ease-out, width 0.5s ease-out, display 0.5s ease-out;
  transition-behavior: allow-discrete;
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.2s, background-color 0.2s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 30%);
  backdrop-filter: blur(2px);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
    backdrop-filter: blur(0px);
  }
}
