---
title: Curriculum Vitae of Teotime Pacreau, work experiences, education, certifications
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include "head.html"%}
  </head>
  <body>
    {% include "color-picker.html"%}
    <div class="container" id="normal-page-container">
      <header>
        <button
          class="mobile-nav-toggle"
          aria-controls="primary-navigation"
          aria-expanded="false"
        >
          <span class="sr-only">Menu</span>
        </button>
        <nav
          class="navigation-flexer"
          id="primary-navigation"
          data-visible="false"
        >
          <span class="navigation-announcer">NAVIGATION</span>
          <ul class="menu">
            <li>
              <a href="../index">HOME</a>
              <!-- <a id="home" href="../index.html" aria-label="Home page"
                ><i class="ph-bold ph-house-simple"></i
              ></a> -->
            </li>
            <li><a href="/curriculum">CV</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/projets">PROJETS</a></li>
            <li><a href="../colophon">COLOPHON</a></li>
          </ul>
        </nav>
      </header>
      <main class="container-cv">
        <button id="download-cv">
          <a href="/assets/CV_data.pdf" download>
            <icon class="ph ph-download"></icon>
          </a>
        </button>
        <section class="contenu-pro-titre">
          <h1>Expériences professionnelles</h1>
        </section>
        <section class="travail">
          <time class="travail-time">2022-2024</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            Apprenti en gestion de projet et conduite du
            changement chez
            <a
              href="https://www.prefectures-regions.gouv.fr/pays-de-la-loire/Region-et-institutions/Organisation-administrative-de-la-region/Secretariat-General-pour-les-Affaires-Regionales-SGAR/Etat-LIN-le-Laboratoire-d-Innovation-Publique-de-l-Etat-en-region-Pays-de-la-Loire/Etat-LIN-qu-est-ce-que-c-est"
              target="_blank"
              rel="noopener noreferrer"
              >État'LIN, le laboratoire d'innovation publique de l'État en Pays
              de la Loire</a
            >
          </p>
          <ul class="travail-prose">
            <li>
              Conduite de projets de transformation publique en mode projet.
            </li>
            <li>
              Appui aux services de l’État en Pays de la Loire dans leurs projets de conduite du changement (outillage organisationnel, diagnostic stratégique...).
            </li>
            <li>Coordination et accompagnement de 2 projets de transformation numérique (AMOA, MOE...).</li>
            <li>Collaboration avec une équipe de designer de 
              services : appropriation de la méthode design et complémentarité avec le mode projet. </li>
            <li>
              Co-animation du réseau des
              <a
                href="https://www.modernisation.gouv.fr/communautes/les-innovacteurs-de-la-transformation-publique"
                >"Innov’acteurs de la transformation publique"</a
              >
              (réseau d'essaimage de l'innovation publique, 50 agents).
            </li>
            <li>
              Développement de la transversalité avec les services de transformation numérique et managériale
            </li>
          </ul>
          <time class="travail-time">2021-2022</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            Chargé d'affaires et de gestion en alternance chez
            <a
              href="https://www.lieuxcommuns.coop/"
              target="_blank"
              rel="noopener noreferrer"
              >Lieux Communs</a
            >
          </p>
          <ul class="travail-prose">
            <li>
              Gestion commerciale de l'offre d'espaces du tiers-lieu
              <a href="https://www.ecossolies.fr/-Le-Solilab-">Le Solilab</a
              >(106 espaces de travail, 3 espaces événementiels, 5 salles de
              réunion, 20 espaces de stockage).
            </li>
            <li>Coordination des prestataires.</li>
            <li>
              Actions de développement de la commercialisation (objectifs de CA,
              optimisation des activités rentables).
            </li>
            <li>SEO et SEA pour le site internet.</li>
          </ul>
          <time class="travail-time">2020-2021</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            Assistant Technique chez
            <a
              href="https://www.habitat44.org/"
              target="_blank"
              rel="noopener noreferrer"
              >Habitat 44</a
            >
          </p>
          <ul class="travail-prose">
            <li>
              Gestion du déploiement de la fibre optique sur le parc de 7000 logements.
            </li>
            <li>
              Assistance au marché de maintenance énergétique, marché de relève des compteurs, marché de déploiement des antennes téléphoniques 
              Gestion technique et administrative des marchés de diagnostic
              amiante et de la télérelève des compteurs d'eau.
            </li>
            <li>Gestion administrative du service.</li>
          </ul>
          <time class="travail-time">2020</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            Gérant Locatif chez
            <a
              href="https://www.nantaise-habitations.fr/"
              target="_blank"
              rel="noopener noreferrer"
              >La Nantaise d'Habitations</a
            >
          </p>
          <ul class="travail-prose">
            <li>Responsable de la gestion locative de 650 logements HLM.</li>
            <li>Chiffrage, planification et suivi des chantiers de remise en état des logements.</li>
          </ul>
          <time class="travail-time">2019-2020</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            Responsable de résidence sociale chez
            <a
              href="https://www.adoma.cdc-habitat.fr/adoma/Accueil/p-730-L-insertion-par-le-logement.htm"
              target="_blank"
              rel="noopener noreferrer"
              >Adoma Groupe CDC Habitat</a
            >
          </p>
          <ul class="travail-prose">
            <li>Gestion locative d’une résidence sociale de 160 logements.</li>
            <li>Réduction des impayés, optimisation de la mise en location des logements</li>
            <li>Management d'une équipe de nettoyage et de maintenance</li>
            <li>Collaboration avec les services sociaux et accompagnement social des résidents</li>
          </ul>
          <time class="travail-time">2017-2019</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            Assistant de gestion locative chez
            <a
              href="https://www.residetape.fr/"
              target="_blank"
              rel="noopener noreferrer"
              >Résidetape</a
            >
          </p>
          <ul class="travail-prose">
            <li>
              Appui à la gestion locative d’une résidence sociale de 135
              logements.
            </li>
            <li>Réduction des impayés, optimisation de la mise en location des logements, actions de développement commercial</li>
            <li>Mise en conformité RGPD.</li>
            <li>Appui à la coordination d'un agent de nettoyage et d'un agent de maintenance</li>
          </ul>
        </section>
        <section class="scolaire-titre">
          <h1>Diplômes</h1>
        </section>
        <section class="scolaire-texte">
          <div class="card">
            <div class="card-texte">
              <time class="time-diplomes">2022-2024</time>
              <p class="diplome-desc">
                Master Management, Organisation et Conduite du Changement en
                alternance au CNAM de Nantes
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-texte">
              <time class="time-diplomes">2021-2022</time>
              <p class="diplome-desc">
                Licence 3 Droit Économie Gestion mention Gestion des
                organisations en alternance au CNAM de Nantes
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-texte">
              <time class="time-diplomes">2017-2019</time>
              <p class="diplome-desc">
                BTS Assistant de gestion en alternance à l'École Nantaise de
                Commerce
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-texte">
              <time class="time-diplomes">2016-2017</time>
              <p class="diplome-desc">
                1ère année de BTS Assistant de gestion en initiale au Lycée
                Pierre Mendes France à La Roche sur Yon
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-texte">
              <time class="time-diplomes">2015-2016</time>
              <p class="diplome-desc">
                Bac Scientifique au Lycée Alfred Kastler à La Roche sur Yon
              </p>
            </div>
          </div>
        </section>
        <section class="competences-titre">
          <h1>Compétences</h1>
        </section>
        <section class="competences">
          <ul class="competences-details">
            <li>Management de projet</li>
            <li>Conduite du changement</li>
            <li>Diagnostic et conseil en transformation des organisations</li>
            <li>Conduite de projet numérique dans un rôle de Product Owner côté client (AMOA, MOE)</li>
            <li>Accompagnement à l'entrepreneuriat</li>
            <li>Animation de réseau</li>
          </ul>
          <ul class="competences-details">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>NodeJS</li>
            <li><a href="https://expressjs.com/fr/" target="_blank"
              rel="noopener noreferrer">Express</a></li>
            <li><a href="https://fastify.dev/" target="_blank"
              rel="noopener noreferrer">Fastify</a></li>
            <li>Git & Github</li>
            <li><a href="https://www.11ty.dev/" target="_blank"
              rel="noopener noreferrer">Eleventy</a></li>
              <li>Vite</li>
              <li>Svelte</li>
          </ul>
        </section>
        <section class="certifications-titre">
          <h1>Certifications</h1>
        </section>
        <section class="travail">
          <time class="travail-time">2023</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            <a
              href="https://www.modernisation.gouv.fr/actualites/laboratoires-dinnovation-publique-la-ditp-lance-le-programme-de-formation-clip"
              target="_blank"
              rel="noopener noreferrer"
              >Formation de 6 jours "Conduire un laboratoire d'innovation
              publique" par la Direction Interministérielle de la Transformation
              Publique</a
            >
          </p>
          <time class="travail-time">2023</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            <a
              href="https://github.com/teotimepacreau/Certificat-formation-mode-projet/blob/main/Certificat%20formation%20mode%20projet.pdf"
              target="_blank"
              rel="noopener noreferrer"
              >Formation "Conduite de projets au sein des services publics" par
              la Direction Interministérielle de la Transformation Publique</a
            >
          </p>
          <time class="travail-time">2023</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            <a
              href="https://www.ira-nantes.gouv.fr/index.php/2023/06/16/animer-et-developper-un-reseau/"
              target="_blank"
              rel="noopener noreferrer"
              >Formation "Animer un réseau"</a
            >
          </p>
          <time class="travail-time">2023</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            <a
              href="https://jujotte.notion.site/Conception-num-rique-m-thodologie-du-designer-UX-a4eed1789fc244d786b9e6db2fbd6159"
              target="_blank"
              rel="noopener noreferrer"
              >Formation UX UI (design numérique)</a
            >
          </p>
          <time class="travail-time">2021</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            <a
              href="https://www.coursera.org/account/accomplishments/certificate/QS6M66QE32C9"
              target="_blank"
              rel="noopener noreferrer"
              >Les bases du management de projet</a
            >
          </p>
          <time class="travail-time">2021</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            <a
              href="https://skillshop.exceedlms.com/student/award/yZBSDdcS6REHdwUs3PWwycie?referer=https%3A%2F%2Fskillshop.exceedlms.com%2Fstudent%2Fpath%2F142277%2Factivity%2F171817"
              target="_blank"
              rel="noopener noreferrer"
              >Google My Business</a
            >
          </p>
          <time class="travail-time">2021</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            <a
              href="https://learndigital.withgoogle.com/link/1qh2gjrod8g"
              target="_blank"
              rel="noopener noreferrer"
              >Les principes fondamentaux du marketing numérique (clé de
              vérification : EZC 9XA BAR)</a
            >
          </p>
          <time class="travail-time">2019</time>
          <div class="hr-parent"><hr /></div>
          <p class="travail-titre-poste">
            <a
              href="https://www.afpols.fr/formations-inter-entreprises/nos-formations/gestion-de-proximite/relations-avec-les-habitants/troubles-de-voisinage-quelles-actions-mener"
              target="_blank"
              rel="noopener noreferrer"
              >Formation "Gestion des conflits"</a
            >
          </p>
        </section>
      </main>
      <footer id="footer" role="contentinfo">{% include "footer.html"%}</footer>
    </div>
    <script src="/scripts/colorTheme.js"></script>
    <script src="/scripts/nav.js"></script>
    <script src="/scripts/displayWorkExp.js"></script>
  </body>
</html>
