---
title: "Développement web et management de projets numériques à Nantes"
pageId: "Homepage"
layout: "base.html"
type: "Page"
---
<!-- <svg width="450" height="450" viewBox="0 0 450 450" fill="none" xmlns="http://www.w3.org/2000/svg">
                {# <rect x="3" y="3" width="444" height="444" rx="222" fill="#C3E2FF"/> #}
                {# <rect x="3" y="3" width="444" height="444" rx="222" stroke="#752A04" stroke-width="4"/> #}
                <circle cx="150" cy="300" r="75" fill="#752A04" stroke="#752A04" stroke-width="2"/>
                <circle cx="300" cy="150" r="75" fill="#752A04" stroke="#752A04" stroke-width="2"/>
                <path d="M306.818 245.455C344.474 245.455 375 272.928 375 306.818" stroke="#752A04" stroke-width="2"/>
                <path d="M306.818 375C272.928 375 245.454 344.474 245.454 306.818" stroke="#752A04" stroke-width="2"/>
                <path d="M375 306.818C375 344.474 344.474 375 306.818 375" stroke="#752A04" stroke-width="2"/>
                <path d="M143.182 75C177.072 75 204.546 105.526 204.546 143.182" stroke="#752A04" stroke-width="2"/>
                <path d="M75.0001 143.182C75.0001 105.526 105.526 75 143.182 75" stroke="#752A04" stroke-width="2"/>
                <path d="M143.182 204.545C105.526 204.545 75.0001 177.072 75.0001 143.182" stroke="#752A04" stroke-width="2"/>
                <path d="M143.182 204.545C199.666 204.545 245.455 250.335 245.455 306.818" stroke="#752A04" stroke-width="2"/>
                <path d="M306.818 245.455C250.334 245.455 204.545 199.666 204.545 143.182" stroke="#752A04" stroke-width="2"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 276.428 139.286)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 293.572 122.143)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 327.857 156.429)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 310.714 173.571)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 293.572 190.714)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 259.286 156.429)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 173.572 276.429)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 156.428 293.572)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 139.286 276.429)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 173.572 310.714)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 156.428 327.857)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 139.286 345)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 139.286 310.714)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 122.143 293.572)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 122.143 327.857)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 105 310.714)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 105 345)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 276.428 173.571)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 293.572 156.429)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 310.714 139.286)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 259.286 190.714)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 327.857 122.143)" fill="#C3E2FF"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 139.286 156.429)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 122.143 139.286)" fill="#752A04"/>
                <circle cx="113.571" cy="113.571" r="8.57143" fill="#752A04"/>
                <circle cx="147.857" cy="113.571" r="8.57143" fill="#752A04"/>
                <circle cx="113.571" cy="147.857" r="8.57143" fill="#752A04"/>
                <circle cx="130.714" cy="165" r="8.57143" fill="#752A04"/>
                <circle cx="147.857" cy="182.143" r="8.57143" fill="#752A04"/>
                <circle cx="165" cy="130.714" r="8.57143" fill="#752A04"/>
                <circle cx="182.143" cy="147.857" r="8.57143" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 190.714 207.857)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 173.572 190.714)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 156.428 173.571)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 242.143 259.286)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 259.286 276.429)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 276.428 293.572)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 293.572 276.429)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 310.714 293.572)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 327.857 310.714)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 293.572 345)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 276.428 327.857)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 259.286 310.714)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 293.572 310.714)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 310.714 327.857)" fill="#752A04"/>
                <circle cx="8.57143" cy="8.57143" r="8.57143" transform="matrix(1 0 0 -1 327.857 345)" fill="#752A04"/>
            </svg> -->
<div id="homepage-profil" class="intersect">
  <img
    aria-hidden="true"
    loading="eager"
    src="/img/profil_mobile_59.webp"
    height="59"
    width="59"
    srcset="/img/profil_mobile_59.webp 59w, /img/profil_112.webp 112w"
    sizes="(max-width: 600px) 59px, 112px"
  />
  <h1>Téotime Pacreau</h1>
</div>

<section id="homepage-brief" class="intersect">
  <h2>Du code léger pour des projets web maîtrisés</h2>
  <article class="services">
    <ul>
      <li>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--txt)" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm45.66-93.66a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32Z"></path></svg>
        <span>Conception de sites web</span>
      </li>
      <li>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--txt)" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm45.66-93.66a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32Z"></path></svg>
        <span>Maintenance & refonte</span>
      </li>
      <li>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--txt)" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm45.66-93.66a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32Z"></path></svg>
        <span>Développement spécifique</span>
      </li>
    </ul>
  </article>
</section>
<section id="homepage-projets" class="intersect">
  <header class="homepage-projets-titre-flexer">
    <h2>Projets</h2>
    <hr />
  </header>

  <!-- j'appelle les données de index.json pour présenter les projets -->
  {% for projet in projets %}
  <article class="homepage-projets-grid-item">
    <div class="homepage-projets-grid-item__left">
      <img
        loading="eager"
        src="{{ projet.img_src }}"
        alt="{{ projet.img_alt }}"
        height="{{ projet.img_height }}"
        width="{{ projet.img_width }}"
        srcset="{{ projet.img_srcset }}"
        sizes="{{ projet.img_sizes }}"
      />
    </div>
    <div class="homepage-projets-grid-item__right">
      <ul>
        {% for tag in projet.projet_tags %}
        <li class="homepage-projets-tags">{{ tag }}</li>
        {% endfor %}
      </ul>
      <div class="homepage-projets-grid-item__right__titleanddesc">
        <span>{{ projet.projet_title }}</span>
      </div>

      <a
        aria-label="{{ projet.internal_anchor_arialabel }}"
        class="homepage-projets-anchor"
        href="{{ projet.internal_anchor }}"
      >
        Découvrir
      </a>
    </div>
  </article>
  {% endfor %}

</section>
<section id="homepage-services" class="intersect">
  <header class="homepage-projets-titre-flexer">
    <h2>Services</h2>
    <hr />
  </header>
  <div id="homepage-services-grid">
    <article>
      <header class="homepage-services-item-header">
        <h3>Conception de sites web sur-mesure</h3>
        <div class="services-icon">
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="var(--accent)"
            viewBox="0 0 256 256"
          >
            <path
              d="M216,42H72A14,14,0,0,0,58,56V74H40A14,14,0,0,0,26,88V200a14,14,0,0,0,14,14H184a14,14,0,0,0,14-14V182h18a14,14,0,0,0,14-14V56A14,14,0,0,0,216,42ZM40,86H184a2,2,0,0,1,2,2v18H38V88A2,2,0,0,1,40,86ZM186,200a2,2,0,0,1-2,2H40a2,2,0,0,1-2-2V118H186Zm32-32a2,2,0,0,1-2,2H198V88a14,14,0,0,0-14-14H70V56a2,2,0,0,1,2-2H216a2,2,0,0,1,2,2Z"
            ></path>
          </svg>
        </div>
      </header>
      <ul class="homepage-services-item-category-list">
        <li>
          Sites vitrines
          <span class="homepage-services-item-category-details"
            >100% responsive, formulaires de contact, gestion du contenu facile
            et intuitive</span
          >
        </li>
        <li>
          Sites e-commerce
          <span class="homepage-services-item-category-details"
            >Base de données, automatisation...</span
          >
        </li>
        <li>
          Portfolios
          <span class="homepage-services-item-category-details"
            >Animations, effets typographiques</span
          >
        </li>
      </ul>
    </article>
    <article>
      <header class="homepage-services-item-header">
        <h3>Refonte & maintenance</h3>
        <div class="services-icon">
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="var(--accent)"
            viewBox="0 0 256 256"
          >
            <path
              d="M224.91,69.75a6,6,0,0,0-9.63-2.16l-41.07,37.9L154.7,101.3l-4.19-19.51,37.9-41.07a6,6,0,0,0-2.16-9.63,70,70,0,0,0-89.77,94.39l-61.39,53c-.11.09-.21.19-.32.3A30,30,0,0,0,77.2,221.23c.11-.11.21-.21.3-.32l53-61.39a70,70,0,0,0,94.39-89.77ZM160,154a58,58,0,0,1-28-7.22,6,6,0,0,0-7.45,1.33L68.57,212.88a18,18,0,0,1-25.45-25.45l64.76-55.94A6,6,0,0,0,109.2,124a58,58,0,0,1,64-84.53L139.58,75.93a6,6,0,0,0-1.45,5.33l5.65,26.35a6,6,0,0,0,4.61,4.61l26.35,5.65a6,6,0,0,0,5.33-1.45L216.49,82.8A58.06,58.06,0,0,1,160,154Z"
            ></path>
          </svg>
        </div>
      </header>
      <ul class="homepage-services-item-category-list">
        <li>Débuggage et mise à niveau</li>
        <li>Optimisation de la performance</li>
        <li>Mise à jour de l'interface graphique</li>
      </ul>
    </article>
    <article>
      <header class="homepage-services-item-header">
        <h3>Développement spécifique</h3>
        <div class="services-icon">
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="var(--accent)"
            viewBox="0 0 256 256"
          >
            <path
              d="M222.72,67.91l-88-48.18a13.9,13.9,0,0,0-13.44,0l-88,48.17A14,14,0,0,0,26,80.18v95.64a14,14,0,0,0,7.28,12.28l88,48.17a13.92,13.92,0,0,0,13.44,0l88-48.17A14,14,0,0,0,230,175.82V80.18A14,14,0,0,0,222.72,67.91ZM128,121.16,44.49,75.44,83.14,54.29l42,23a6,6,0,0,0,5.76,0l42-23,38.65,21.15Zm-1-90.91a2,2,0,0,1,1.92,0l31.4,17.2L128,65.16,95.63,47.45ZM38,175.82v-40l36,19.7v41.16L39,177.57A2,2,0,0,1,38,175.82Zm48,27.46V152a6,6,0,0,0-3.12-5.26L38,122.17V85.57l84,46V223ZM134,223V131.56l84-46v36.6l-44.88,24.57A6,6,0,0,0,170,152v51.28Zm83-45.42-35,19.14V155.55l36-19.7v40A2,2,0,0,1,217,177.57Z"
            ></path>
          </svg>
        </div>
      </header>
      <ul class="homepage-services-item-category-list">
        <li>
          Gestion de projet numérique
          <span class="homepage-services-item-category-details"
            >User stories, cartographie du parcours utilisateur,
            backlog...</span
          >
        </li>
        <li>
          Développement de campagnes emailing
          <span class="homepage-services-item-category-details"
            >Emails HTML, intégrations, maquettage</span
          >
        </li>
        <li>Éco-conception</li>
        <li>Intégration de maquettes</li>
      </ul>
    </article>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script>
  // Grab the prefers reduced motion preference of the user.
  let prefersReducedMotion = window.matchMedia(
    "(prefers-reduced-motion: reduce)"
  ).matches;

  // SI L'UTILISATEUR N'A PAS ACTIVE prefers-reduced-motion alors on déroule l'animation
  if (!prefersReducedMotion) {
    gsap.fromTo(
      ".intersect",
      {
        y: "-20dvh",
        opacity: 0,
        duration: 0.5,
        ease: "power2.out",
      },
      {
        y: "0dvh",
        opacity: 1,
        stagger: 0.3,
      }
    );
    gsap.fromTo(
      ".menu-anim",
      {
        y: "-20dvh",
        opacity: 0,
        duration: 0.5,
        ease: "power4.out",
      },
      {
        y: "0dvh",
        opacity: 1,
        delay: 1,
      }
    );

    let elementsToAnimate = document.querySelectorAll(
      ".homepage-projets-grid-item"
    );

    function hide() {
      return new Promise((resolve) => {
        for (let element of elementsToAnimate) {
          element.classList.toggle("homepage-projets-hidden");
        }
        resolve();
      });
    }

    // EVITER QUE L'INTERSECTION OBSERVER SE DECLENCHE TROP TOT SUR MOBILE
    function isMobile() {
      return window.matchMedia("(max-width: 600px)").matches;
    }
    let rootMarginValue = isMobile() ? "-30%" : "-50%";

    // INTERSECTION OBSERVER
    const options = {
      root: null,
      threshold: 0,
      rootMargin: rootMarginValue,
    };

    const observer = new IntersectionObserver(function (entries, observer) {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          return;
        } else {
          gsap.to(entry.target, {
            x: "0dvh",
            opacity: 1,
          });
          observer.unobserve(entry.target); //indispensable pour pas que l'animation se rejoue en remontant
        }
      });
    }, options);

    hide().then(() => {
      elementsToAnimate.forEach((section) => {
        //pour appliquer l'action à la NodeList
        observer.observe(section);
      });
    });
  }
</script>
