---
title: Management de projet, conduite du changement et numérique à Nantes
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include "head.html"%}
  </head>
  <body>
      {% include "color-picker.html"%}
      <container id="homepage-container">
        <main id="homepage-hero">
          <h1>
            Téotime Pacreau,<br />
            Manage<wbr />ment de projet & Numérique
          </h1>
          <section id="homepage-prose">
            <p>
              Je suis apprenti en gestion de projet, transversalité et conduite
              du changement pour
              <a
                href="https://www.prefectures-regions.gouv.fr/pays-de-la-loire/Region-et-institutions/Organisation-administrative-de-la-region/Secretariat-General-pour-les-Affaires-Regionales-SGAR/Etat-LIN-le-Laboratoire-d-Innovation-Publique-de-l-Etat-en-region-Pays-de-la-Loire/Etat-LIN-qu-est-ce-que-c-est"
                target="_blank"
                rel="noopener noreferrer"
                >État'LIN, le laboratoire d'innovation publique de l'État en
                Pays de la Loire</a
              >. Dans ce cadre j'étudie au sein du Master de Management,
              Organisation et Conduite du Changement à Nantes.
            </p>
            <p>
              Impliqué professionnellement par les enjeux de transformation des
              organisations.<br />
              J'entame également un apprentissage personnel du développement
              web.
            </p>
          </section>
        </main>
        <header id="homepage-menu">
          <nav id="homepage-menu-flexer">
            <ul>
              <li><a href="../curriculum">01 Curriculum Vitae</a></li>
              <li><a href="blog">02 Blog</a></li>
              <li><a href="/projets">03 Projets</a></li>
              <li><a href="/colophon">04 Colophon</a></li>
            </ul>
          </nav>
        </header>
        <footer id="footer" role="contentinfo">
          {% include "footer.html"%}
        </footer>
      </container>
    <script src="script.js"></script>
  </body>
</html>
